.navbar-text,.navbar-form {
  padding-top: 5px;
  padding-bottom: 5px;
}

.painel {
  margin: 0;
  padding: 0;
}

.panel-title {
  font-weight: bold;
  color: color(primary);
}

[hidden] {
  display: none !important;
}

.navbar-brand {
  padding: 2px 15px;
  height: 32px;
}

.botao-icon {
  display: inline-block;
  padding: 1.5em 1.4em;
  margin: .4em 1em;
  text-decoration: none;
  border: 0;
}

.botao {
  display:inline-block;
  width: 4em;
  padding: 1em 0em;
  text-decoration: none;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  border: 0;
}

.botao:hover {
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.15));
  cursor: pointer;
}

.botao-circle {
  border-radius: 50%;
}

.botao-default {
  color: #000;
  background-color: rgba(0,0,0,.15);
}

.botao-primary {
  color: #fff;
  background-color: #3f9de2;
}

.botao-success {
  color: #fff;
  background-color: rgba(132, 196, 143, 0.8);
}

.botao-danger{
  color: #fff;
  background-color: rgba(231, 120, 120, 0.8);
}

.botao-warning {
  color: #fff;
  background-color: #F28E00;
}

.botao-shadow {
  box-shadow: 0em 0em 0.2em 0.2em rgba(153, 153, 153, 0.8);
}

.botao-pequeno {
  font-size: 60%;
}
.botao-normal {
  font-size: 100%;
}
.botao-grande{
  font-size: 140%;
}

.round {
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
}
#main {
  margin-top: 10px;
}

.menu-toggle {
  margin-right: 8px;
  padding: 10px 10px;

  background-color: transparent;
  background-image: none;
  color: #05adff;

  border: 1px solid transparent;

  z-index: 3000;
}

.icon-right {
  position: relative;
  float: right;
}

.menu-toggle:focus {
    outline: 0;
}

.information{
  padding: 3px 7px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  vertical-align: middle;

  -webkit-margin-before: .1em;
  -webkit-margin-after: .1em;

  border-radius: 10px;
  background: -webkit-linear-gradient(rgba(109, 112, 112, .7), rgba(71, 73, 73, .7) 50%, rgba(61, 63, 63, .7));
  background: -o-linear-gradient(rgba(109, 112, 112, .7), rgba(71, 73, 73, .7) 50%, rgba(61, 63, 63, .7));
  background: linear-gradient(rgba(109, 112, 112, .7), rgba(71, 73, 73, .7) 50%, rgba(61, 63, 63, .7));
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6D7070', endColorstr='#FF3D3F3F', GradientType=0);
  filter: none;
  border: 1px solid #2e2f2f;
}

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background: #f4f4f4 url(imagens/background.jpg);
  font-weight: 300;
  font-size: 15px;
  color: #333;
  overflow: scroll;
  overflow-x: hidden;
}
