<div *ngIf="isUser">
    <h2> Welcome {{name}} </h2>

    <game-form *ngIf="isUser" [startgame]="startgame" [gonext]="gonext" [(ponctuation)]="ponctuation"></game-form>

    <div id="menu-bottom"  *ngIf="menuBarOpen || !startgame" >

        <a id="fixed-btn-start" (click)="startGame()" class="botao-icon botao-success botao-grande botao-shadow img-circle">
            <i class="fa fa-play fa-fw" aria-hidden="true" *ngIf="!startgame"></i>
            <i class="fa fa-flag-o fa-fw" aria-hidden="true" *ngIf="startgame"></i>
        </a>
        <span id="fixed-label-points">
            <h1 class="information">{{ponctuation}} Pontos</h1>
        </span>
        <!--<a id="fixed-btn-menu" (click)="gotoMenu()" class="botao-icon botao-default botao-grande botao-shadow img-circle">
            <i class="fa fa-bars fa-fw" aria-hidden="true"></i>
        </a>-->

    </div>

    <a id="fixed-btn-start" (click)="toggle()" class="menu-toggle menu-fixed" *ngIf="startgame">
        <i class="fa fa-bars fa-fw" aria-hidden="true" ></i>
    </a>


    <main-form *ngIf="!startgame"></main-form>
</div>

<div *ngIf="!isUser" class="container" >
    <button id="facelogin" class="btn btn-lg btn-info btn-social btn-facebook" style="font-size: 1.5em;" (click)="login()">
        <i class="fa fa-facebook fa-fw"></i>Sign in with facebook
    </button>
</div>