<main-form  *ngIf="!startgame"></main-form>
<game-form [startgame]="startgame" [gonext]="gonext"></game-form>

<div id="menu-bottom">
    <a id="fixed-btn-start" (click)="startGame()" class="botao-icon botao-success botao-grande botao-shadow img-circle">
        <i class="fa fa-play fa-fw" aria-hidden="true" *ngIf="!startgame"></i>
        <i class="fa fa-flag-o fa-fw" aria-hidden="true" *ngIf="startgame"></i>
    </a>
                <span id="fixed-label-points">
                    <h1 class="information">100</h1>
                    <h3 class="information">Pontos</h3>
                </span>
    <a id="fixed-btn-menu" (click)="gotoMenu()" class="botao-icon botao-default botao-grande botao-shadow img-circle">
        <i class="fa fa-bars fa-fw" aria-hidden="true"></i>
    </a>
</div>