<div class="jumbotron">
    <section class="main clearfix">
        <div class="fleft">
            <h3>Votre jeu pour apprendre le français!</h3>
            <p>Sélectionnez le jeu souhaité dans le menu ci-dessous:</p>
        </div>
    </section>
    <div class="list-groupt">
        <a *ngFor="let game of games"
           class="list-group-item list-group-item-info text-center"
           [class.selected]="isSelected(game)"
           (click)="onSelect(game)">
            <div class="media-left">
                <img class="img-responsive" src="{{game.imglink}}" alt="{{game.nome}}">
            </div>
            <div class="media-body">
                <h2 class="list-group-item-heading">{{game.name}}</h2>
            </div>
        </a>
    </div>
</div>